@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;

@model PagedList.IPagedList<Blogger.Models.PostModel>
@section Announcement
{
    <div class="row">
        <div class="col-md-8">
            <marquee id="txt_announcement"><H6>Announcement</H6></marquee>
        </div>
    </div>
}

<!-- Page Content -->
<div class="container">


    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">Technical Posts
                 
            </h1>


            @foreach (Blogger.Models.PostModel model in Model)
            {
                Html.RenderPartial("_PostHome", model);

            }



            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>


            @{Html.RenderAction("GetAllCategory", "Category");}


            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

    <hr>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            cache: false,
            type: "POST",
            url: 'Home/GetAnnouncements',
            dataType: "json",
            success: function (data) {                
                var announcement = JSON.stringify(data);
                $('#txt_announcement').text(announcement);
            }
        });
    });



</script>

