@model IEnumerable<Blogger.Models.CategoryModel>

@{
    Layout = null;
}
<div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">

                @foreach (var item in Model)
                {
    
                    <li><a href="#">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                    </li>
        
                }
            </ul>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <ul class="list-unstyled">
              @foreach (var item in Model)
                {
    
                    <li><a href="#">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                    </li>
        
                }
            </ul>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
